body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    margin: 40px 0 40px 0 ;
    border: 0;
    color: #e5e5e5 ;
    height: 1px;
}


/* Container */

.container {
    padding: 0 15px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url(../Mogo/dop.content/intro.jpeg) center no-repeat;
    -webkit-background-size: cover ;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    text-align: center;
    margin: 95px auto;
}

.intro__suptitle {
    margin-bottom: 15px;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
}

.intro__title {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
}

.intro__title::after {
    content: "";
    display: block;
    background: #fff;
    width: 60px;
    height: 3px;
    margin: 60px auto ;
}

/* Header */

.header {
    padding-top: 30px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav */

.nav {
    text-transform: uppercase;
    font-size: 14px;

}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    

    background-color: #fce38a;   
    opacity: 0;

    position: absolute;
    top: 100%;
    z-index: 1;

    transition: opacity .1s linear;
} 

.nav__link:hover::after {
    display: block;
    opacity: 1;
}

/* BTN */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    

    color: #fff; 
    text-transform: uppercase;
    transition:  .1s linear, color .1s;
}

.btn:hover {
    color: #333;
    background-color: #fff;

}

/* Slider */

.slider {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;  
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: .7;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;

}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    display: block;
    content: "";
    width: 70px;
    height: 3px;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #f38181;
}

/* Section */

.section {
    padding: 80px 0;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--clients {
    background-color: #f8f8f8;
}

.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;
    background: url(dop.content/images/images/images/images/fon2.jpg)
    center no-repeat;
    -webkit-background-size: cover ;
    background-size: cover;
}

.section--map {
    padding: 40 0;
    background: #e6e6e6 
    url(dop.content/fonmap.jpg) center
    no-repeat; 
    -webkit-background-size: cover ;
    background-size: cover;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}

.section__suptitle {
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title::after {
    display: block;
    content: "";
    background-color: #f38181;
    width: 60px;
    height: 3px;
    margin: 40px auto;
}

.section__text {
    font-size: 15px;
    color: #999;
}

/* About */

.about {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.about__inner {
    position: relative;
    background-color: #95e1d3;
}

.about__item {
    position: relative;
    background-color: #95e1d3;
}

.about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img {
    opacity: .1;
}

.about__img {
    background: linear-gradient(to bottom,
    #f38181, #fce38a);
    transition: transform .2s;   
}

.about__img img {
    display: block;
    transition: opacity .1s linear;
}

.about__text {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    text-transform: 0, -50%, 0;

    transition: opacity .2s linear;
}

.about__item:hover .about__text {
    opacity: 1;
}

/* Statistics */

.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
}

.stat__item {
    padding: 70px 25px;
    flex: 1 1 0;

    border-left: 3px solid #b5eae0;
    text-align: center;
    color: #fff;
}

.stat__item:last-child {
    border-right: 3px solid #b5eae0;
}

.stat__count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}



/* services */

.services {
    display: flex;
}

.services__item {
     
    flex: 1 1 0;
    padding-left: 90px;
    padding-right: 20px;  
    position: relative;
}

.services__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services__title {
    font-style: 14px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.services__text {
    font-style: 15px;
    color: #999;
}

/* devices */

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
}

.devices__item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 2;
}

/* WeDo */ 

.wedo {
    display: flex;
}

.wedo__item {
    width: 50%;
}

/* accordion */

.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}

.accordion__item.active
.accordion__header {
    border-bottom-color:     #e5e5e5;
}

.accordion__item.active
.accordion__content {
    display: block;
}

.accordion__item.active
.accordion__header::after {
    transform: translateY(-50%)
    rotate(-45deg);
    margin-top: 5px;
}

.accordion__header {
    padding: 15px 20px 15px 65px;
    position: relative;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.accordion__header::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%)
    rotate(135deg);
}

.accordion__content {
    display: none;
    padding: 15px 20px;
    font-size: 15px;
    color: #999;
}

.accordion__title {
    font-style: 14px;
    text-transform: uppercase;
    color: #333;
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;

    z-index: 1;
    transform: translateY(-50%);
}

/* Reviews */

.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews__item {
    padding-left: 235px;
    position: relative;
    margin-bottom: 120px;
}

.reviews__foto {
    border: 2px solid #95e1d3;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text {
    font-style: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
    margin-bottom: 15px;
}

.reviews_author {
    font-style: 24px;
    color: black;
    font-family: 'Kaushan Script', cursive;
}

.reviews_author::before {
    display: inline-block;
    content: "";
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: #f38181;
}

.reviews__btn {
    font-style: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__btn::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;

    top: 50%;
    right: 20px;
    z-index: 1;
}

.reviews__btn--prev {
    left: 0;  
    transform: rotate(-45deg);     
}

.reviews__btn--next {
    transform: rotate(135deg);     
    right: 0;
}


/*social*/

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    height: 45px;
    width: 45px;
    padding: 12px 10px;
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    font-size: 20px;

    text-decoration: none;
    color: #f38181;
    line-height: 1;

    transition: background .1s linear, color .1 linear;
}

.social__item:hover {
    color: #fff;
    background-color: #f38181;
}

.social__item:last-child {
    border-right: 0;
}

/* card*/

.card {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.card__inner {
    position: relative;
    background-color: #95e1d3;
}

.card__item {
    
}

.card__item:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__item:hover .card__img img {
    opacity: .1;
}

.card__img {
    background: linear-gradient(to bottom,
    #f38181, #fce38a);
    transition: transform .2s;   
}

.card__img img {
    display: block;
    transition: opacity .1s linear;
}

.card__text {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    text-transform: 0, -50%, 0;

    transition: opacity .2s linear;
}

.card__item:hover .card__text {
    opacity: 1;
}

.card__info {
    margin-top: 20px;
    text-align: center;
}

.card__name {
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
}

.card__prof {
    color: #999;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

/* logos*/

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* works*/

.works {
    display: flex;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;
    background: linear-gradient(to bottom,
    #f38181, #fce38a);
    transition: transform .2s;
}    

.works__img {
    width: 100%;
    display: block;
    transition: opacity .2s linear;
}

.works__item:hover .works__img {
    opacity: .1;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__info {
    padding: 0 15px;
    opacity: 0;

    text-align: center;
    color: #fff;

    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.works__text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}


/*clients*/

.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.clients__item {
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
}

.clients__prof::after {
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    margin: 15px 0;
    background-color: #f38181;
}

.clients__photo {
    position: absolute;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    top: 0;
    left: 0;
    z-index: 1;
}

.clients__name {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
}

.clients__prof {
    color: #333;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
}

.clients__text {
    margin-bottom: 70px;
    font-size: 15px;
    color: #999;
}

/*Blog*/

.blog {
    display: flex;
    justify-content: space-between;
}

.blog__item {
    width: 32%;
}

.blog_header {
    margin-bottom: 15px;
    position: relative;
}

.blog__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog_date {
    padding: 10px 20px;
    background-color: #95e1d3;
     
    text-align: center;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    font-size: 15px;

    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
}

.blog__date-day {
    font-style: normal;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
}

.blog_title  {
    margin-bottom: 10px;
    font-size: 14px;
    counter-reset: #333;
}

.blog_title a {
    color: inherit;
    text-decoration: none;
}

.blog_title a:hover {
    text-decoration: underline;
}

.blog_text {
    color: #999;
    font-size: 15px;
}

.blog_footer {
    border-top: 1px solid #e5e5e5;
    padding-top: 14px;

    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #999
}

.blog__content {
    margin-bottom: 14px;
}

.blog-stat__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.blog-stat__item i {
    color: #95e1d3;
}

/*map*/ 

.map {
    text-align: center;
}

.map__title {
    color: #f38181;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.map__title::after {
    display: block;
    content: "";
    background-color: #f38181;
    height: 3px;
    width: 65px;
    margin: 15px auto;
}

.map__title a {
    color: inherit;
    text-decoration: none;
}

.map__title a:hover {
    text-decoration: underline;
}

/*FOOTER*/

.footer {
    padding-top: 65px;

    background-color: #f8f8f8;
} 

.footer__inner {
    display: flex;
    padding-bottom: 65px;
    justify-content: space-between;
}

.footer__col--first {
    width: 40%;
}

.footer__col--second {
    width: 29%;
}

.footer__col--third {
    width: 22%;
}

.footer__title {
    margin: 30px 0;

    text-transform: uppercase;
    color: #333;
    font-size: 14px;
}



.footer__logo {
    margin-bottom: 30px;
    font-size: 46px;
    font-weight: 700;
    color: #ccc;
}

.footer__text {
    margin-bottom: 30px;
    font-size: 15px;
    color: #999;
}

.footer__social {
    margin-bottom: 25px;
}

.footer__social-header {
    padding-bottom: 15px;
    font-size:  15px;
    color: #333;
    border-bottom: 1px solid #e5e5e5 ;
}

.footer__social-header b {
    font-size: 18px;
}

.footer__social-content {
    padding-top: 15px;

    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

.footer__social-content a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 18px;
    color: #95e1d3;
}

/*subscribe*/

.subscribe {
    width: 100%;
    max-width: 380px;
    display: flex;
}

.subscribe__input {
    width: 60%;
    padding: 12px;
    height: 40px;

    background: #fff;
    border: 1px solid #e7e7e7;
    border-right: 0;
    
    font-size: 15px;
    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-style: italic;
    font-weight: 300;
}

.subscribe__input:focus {
    outline: 0;
    border-color: #95e1d3;
}

.subscribe__input::placeholder {
    color: #ccc;
}

.subscribe__btn {
    width: 40%;
    height: 40px;
    padding: 12px 30px;

    background-color: #95e1d3;
    border: 0;
    text-decoration: none;
    
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    transition: background .2 linear;
}

.subscribe__btn:hover {
    background-color: #74c7b8
}

.subscribe__btn:focus {
    outline: 0;
}

/*Blogs*/

.blogs__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.blogs__img{
    width: 120px;
    height: 80px;
}

.blogs__content {
    padding-left: 20px;
}

.blogs__title {
    margin-bottom: 5px;
    color: #333;
    line-height: 1.5;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.blogs__title:hover {
    text-decoration: underline;
}

.blogs__date {
    font-size: 13px;
    color: #999;
    font-style: italic;
}

/*instagram*/

.instagram {
    display: flex;
    flex-wrap: wrap;
}

.instagram__item {
    width: 33.33333%;
    flex: 1 1 0;
    border: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.instagram__item img {
    display: block;
}

.instagram__text {
    font-size: 14px;
    color: #999;
    font-style: italic;
}

/*copyright*/

.copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}

.copyright span {
    color: #f38181;
}

@media (max-width: 1230px) {
    /*intro*/
    .intro__suptitle {
        font-size: 52px;
    }

    .intro__title {
        font-size: 120px;
    }
}

@media (max-width: 990px) {
    /*intro*/
    .intro__suptitle {
        font-size: 32px;
    }

    .intro__title {
        font-size: 80px;
    }
}

@media (max-width: 770px) {
    .nav {
        display: none;
    }

    .slider__text {
        display: none;
    }
}

@media (max-width: 575px) {
    /*intro*/
    .intro__suptitle {
        font-size: 22px;
    }

    .intro__title {
        font-size: 40px;
    }
}

